<form [formGroup]="grupoForm">
    <div style="overflow:hidden; margin-bottom:10px;">
        <input [(ngModel)]="name" formControlName="nombre" style="float:left;">
        <div *ngIf="grupoForm.get('nombre')?.hasError" style="color:red; float:left;"> Ingrese un valor </div>        
    </div>
    <button (click)='agregarCandidato()' style="clear:both;"> Agregar candidato </button>
</form>