table, tr {
    border: 1px solid black;
}

thead {
    border-bottom: 1px solid gray;
}

th {
    background:rgb(107, 107, 107);
    color:white;
}

tr{
    margin:10px 0;
}

td {
    background:rgb(218, 218, 218);
}

th, td {
    padding: 0px 5px;
    text-align: center;
}