<p>Listado de candidatos.</p>

<app-administrar-candidatos></app-administrar-candidatos>

<table>
    <thead>
        <th> Index </th>
        <th> Candidato </th>
        <th> Votos </th>
        <th> Acciones </th>
    </thead>
    <tbody>        
        <tr *ngFor="let candidato of candidatos; index as i;">
            <td> {{i}} </td>
            <td> {{candidato.nombre}} </td>
            <td> {{candidato.votos}} </td>
            <td> 
                <button (click)="incrementarVoto( i )"> Incrementar voto </button>    
                <button (click)="decrementarVoto( i )"> Decrementar voto </button>    
                <button (click)="borrarCandidato( i )"> Borrar </button>
            </td>
        </tr>        
    </tbody>
</table>

